body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1f5fe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #0288d1;
  margin-bottom: 50px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  color: #0091ea;
}

h3 {
  color: #0091ea;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}

table .classified {
  background-color: #b3e5fc;
}

.winner {
  color: #03a9f4;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color:rgba(255,255,255, 0.8);
}

.spinner {
  display: block;
  border: 10px solid #6d6e714c;
  border-top: 10px solid #0288d1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.3s linear infinite;
}

.d-none {
  display: none !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and ( max-width: 500px ){
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #6d6e714c;
    border-top: 5px solid #0288d1;
  }
}
