body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #84ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #0288d1;
  margin-bottom: 50px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  color: #0091ea;
}

h3 {
  color: #0091ea;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}

.winner {
  color: #7c4dff;
}
